#head{
background: fixed url("../img/header-bg.jpg");
background-size: 100% 100%;
padding: 60px;
display: flex;
align-items: center;
justify-content: center;
line-height: 30px;
border-top-right-radius: 40px;
border-top-left-radius: 40px;
}

#head p{
  text-shadow: black 0 0 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#head h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}

#head i{
  font-size: 40px;
  color: #22ce9c;
  text-shadow: black 0 0 10px;
}

img {
  max-width:100%;height:auto;}

.header-number {
  color:white !important;
  font-weight: bold;
  text-align: center;
}
.header-number1{
  color: #B9B8B8 !important;
}
.header-number1:hover{
  color: #fff !important;}

 section{
   padding-bottom:60px; 
   padding-top: 60px;
   border-bottom: 2px solid #fff;
   border-bottom-right-radius: 100px;
   border-bottom-left-radius: 100px;
 }

 .gallereya{
   background-color: #191919;
   border-bottom-right-radius: 40px;
   border-bottom-left-radius: 40px;
   border-top-right-radius: 40px;
   border-top-left-radius: 40px;
 }

 .commun{
   background-color: #7197C3;
 }
 .commun a{
  color: white;
  text-shadow: black 0 0 2px;
  font-family: 'Times New Roman', Times, serif;
 }
 .commun a:hover{
  color: #999999;
 }

 #form{
   background: #7197C3;
   border-radius: 80px;
 }


