#a {
  font-size: 15;
}

img {
  max-width:100%;height:auto;}

.header-number {
  color:white !important;
  font-weight: bold;
  text-align: center;
}
.header-number1{
  color: #B9B8B8 !important;
}
.header-number1:hover{
  color: #fff !important;}

 section{
   padding-bottom:60px; 
   padding-top: 60px;
   border-bottom: 2px solid #fff;
   border-bottom-right-radius: 100px;
   border-bottom-left-radius: 100px;
 }

 .commun{
   background-color: #7197C3;
 }
 .commun a{
  color: white;
  text-shadow: black 0 0 2px;
  font-family: 'Times New Roman', Times, serif;
 }
 .commun a:hover{
  color: #999999;
 }

 #form{
   background: #7197C3;
   border-radius: 80px;
 }

