.wrapper{
  height: 100%;
}


.carousel .item{
  text-align: center;
  max-width: 100%;
  height: auto;
}
.carousel h2{
	color: #fff;
	margin: 0;
  padding-top: 50px;
  font-size: 48px;
}
.carousel p{
	font-weight: bold;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 40px;
}

.shadow{
    box-shadow: 0 0 5px 2px gray;
    padding: 25px;
}

#head-white {
    color: #fff;
    font-size: 230%;
}


#a {
  font-size: 15;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:500px;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  max-height: 400px;
  max-width: 600px;
  position:absolute;
}

img {
  max-width:100%;height:auto;}

.header-number {
  color:white !important;
  font-weight: bold;
  text-align: center;
}
.header-number1{
  color: #B9B8B8 !important;
}
.header-number1:hover{
  color: #fff !important;}



/* prices */
 .spsl-plan .plans-footer a{
  font-weight: bold; 
  border: 2px solid #955db8;
  padding: 7px 40px;
  border-radius: 40px;
  text-decoration: none;
  color: #fff !important;
  background: #955db8;
 }
 .plan .paln-head{
  background-size: 100%;
  height: 154px;
  text-align: center;
  padding-top: 40px;
  position: relative;
  border-radius: 12px 12px 0 0;
 }
 
.plan .paln-head>span{
  z-index: 2;
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 39px;
 }
 .plan .paln-head>span>b{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 19px;
 }
.plan .paln-head>span>i{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  display: block;
  color: #fff;
  position: relative;
  z-index: 3;
  font-size: 12px;
  margin-top: -8px;
 }
 .plan .paln-head:after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 148, 206, 0.74);
  top: 0;
  border-radius: 12px 12px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
 }
 .plan:hover .paln-head:after{
  background: rgba(44, 119, 169, 0.74);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
 }
.plan .plans-tag{
  background: -webkit-linear-gradient(left, #06a8f1, #22ce9c);
  background: -o-linear-gradient(right, #06a8f1, #22ce9c);
  background: -moz-linear-gradient(right, #06a8f1, #22ce9c);
  background: linear-gradient(to right, #06a8f1, #22ce9c);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  display: block;
  max-width: 140px;
  text-align: center;
  padding: 11px;
  border-radius: 41px;
  margin: auto;
  margin-top: -20px;
  position: relative;
 }
.plan .plans-body{
  background: rgba(238, 241, 241, 0.68);
  margin-top: -20px;
  padding: 30px;
  padding-top: 41px;
  color: #afbac3;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
 }
 
 .plan .plans-body ul{
  padding-left: 0;
 }
.plan .plans-body ul>li{
  list-style: none;
  margin: 18px 0;
  font-size: 13px;
  cursor: pointer;
  color: white;
  text-shadow: black 0 0 2px;
 }
.plan .plans-body ul>li>i{
  margin-right: 5px;
 }
 .plan .plans-body ul>li:hover{
  color: blue;
 }
 .plan .plans-footer{
  background: rgba(243, 246, 246, 0.54);
  padding: 30px;
  text-align: center;
  border-top: 1px solid rgba(227, 232, 232, 0.55);
 }
 .plan .plans-footer a{
  color: #955db8;
  font-weight: bold; 
  border: 2px solid #955db8;
  padding: 7px 40px;
  border-radius: 40px;
  text-decoration: none;
 }
 .plan .plans-footer a:hover{
  color: #ffffff;
  background: #955db8;
  text-decoration: none;
 }
 .plans-footer{
  margin-bottom:30px;
 }
 .spsl-plan{
  margin-bottom:-20px;
 }
 .plan .ribbon {
  position: relative;
  margin-bottom: 80px;
 }
 .plan .ribbon span {
  position: absolute;
  display: -webkit-box;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(-90deg);
  top: 28px;
  margin-left: 2px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(3, 36, 58, 0.52);
 }
 .plan:hover .ribbon span {
  opacity:0;
 }
 .plan .ribbon:before,.pricing-container .plan .ribbon:after {
  content: "";
  position: absolute;
 }
 

