header{
  background: url(../img/header-bg1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  text-shadow: black 0 0 10px;
}

header div{
  border-radius: 5px;
}

@media screen and (max-width: 991px){
  .mobile1{
    display: none !important;
  }
}

@media screen and (min-width: 992px){
  .mobile{
    display: none !important;
  }
}