html,
body{
  height: 100%;
  padding: 0;
}

body {
  background-color: blue;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
}

#footer{
  height: 80px;
  margin-top: -80px
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: white;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
  color: white;
  text-shadow: black 0 0 2px;
}


.centered {
  text-align: center;
}


/* Links */

a {
  color: lightgreen;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: darkgreen;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: rgba(0, 0, 0, 0.7);
}

.navbar-inverse .navbar-brand {
  color: #999999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
  color: #ff7878;
  font-size: 22px;
  letter-spacing: 1px;
}

 
#f {
  background: #2d2d2d;
  padding: center;
  width: 100%;
}

#f i {
  color:#B9B8B8;
  font-size: 30px;
  padding: 20px;
}

#f i:hover {
  color: #fff;
}

/****** SECTIONS *****/

.w {
  padding-top: 60px;
}

.w h4 {
  font-weight: 700;
}

.w i {
  color:white;
  font-size: 30px;
  text-shadow: black 0 0 2px;
}




/* ==========================================================================
   Pricing Tables
   ========================================================================== */
   .plan .paln-head{
    background-size: 100%;
    height: 154px;
    text-align: center;
    padding-top: 40px;
    position: relative;
    border-radius: 12px 12px 0 0;
   }
   
  .plan .paln-head>span{
    z-index: 2;
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 39px;
   }
   .plan .paln-head>span>b{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 19px;
   }
  .plan .paln-head>span>i{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    display: block;
    color: #fff;
    position: relative;
    z-index: 3;
    font-size: 12px;
    margin-top: -8px;
   }
   .plan .paln-head:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 148, 206, 0.74);
    top: 0;
    border-radius: 12px 12px 0 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
   }
   .plan:hover .paln-head:after{
    background: rgba(44, 119, 169, 0.74);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
   }
  .plan .plans-tag{
    background: -webkit-linear-gradient(left, #06a8f1, #22ce9c);
    background: -o-linear-gradient(right, #06a8f1, #22ce9c);
    background: -moz-linear-gradient(right, #06a8f1, #22ce9c);
    background: linear-gradient(to right, #06a8f1, #22ce9c);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    max-width: 140px;
    text-align: center;
    padding: 11px;
    border-radius: 41px;
    margin: auto;
    margin-top: -20px;
    position: relative;
   }
  .plan .plans-body{
    background: rgba(238, 241, 241, 0.68);
    margin-top: -20px;
    padding: 30px;
    padding-top: 41px;
    color: #afbac3;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
   }
   
   .plan .plans-body ul{
    padding-left: 0;
   }
  .plan .plans-body ul>li{
    list-style: none;
    margin: 18px 0;
    font-size: 13px;
    cursor: pointer;
    color: white;
    text-shadow: black 0 0 2px;
   }
  .plan .plans-body ul>li>i{
    margin-right: 5px;
   }
   .plan .plans-body ul>li:hover{
    color: blue;
   }
   .plan .plans-footer{
    background: rgba(243, 246, 246, 0.54);
    padding: 30px;
    text-align: center;
    border-top: 1px solid rgba(227, 232, 232, 0.55);
   }
   .plan .plans-footer a{
    color: #955db8;
    font-weight: bold; 
    border: 2px solid #955db8;
    padding: 7px 40px;
    border-radius: 40px;
    text-decoration: none;
   }
   .plan .plans-footer a:hover{
    color: #ffffff;
    background: #955db8;
    text-decoration: none;
   }
   .plans-footer{
    margin-bottom:30px;
   }
   .plans-body h2{
     color: green;
     text-shadow: white 0 0 2.5px;
     text-decoration: underline;
   }
   
/* Copyrights */

#copyrights {
  position: absolute bottom;
  background: #222222;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  width: 100%;
}

#copyrights p {
  margin-bottom: 5px;
}

.credits {
  color: #999;
}

#form-phone{
  margin-top: 100px;
}
